<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodSaver"
        tools:targetApi="31">
        <activity
            android:name=".AddItemActivity"
            android:exported="false"
            android:label="@string/add_item"
            android:theme="@style/Theme.FoodSaver" />
        <activity
            android:name=".PantryActivity"
            android:exported="false"
            android:label="@string/pantry"
            android:theme="@style/Theme.FoodSaver" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="@string/settings"
            android:theme="@style/Theme.FoodSaver" />
        <activity
            android:name=".ShoppingListActivity"
            android:exported="false"
            android:label="@string/shopping_list"
            android:theme="@style/Theme.FoodSaver" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <receiver
            android:name="com.example.foodsaver.MainActivity$PantryNotificationReceiver"
            android:exported="false"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="pantry_update" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.example.foodsaver.MainActivity$ExpCheckNotificationReceiver"
            android:exported="false"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="daily_expire_check" />
            </intent-filter>
        </receiver>
    </application>

</manifest>